## Numpy Arrays

In [1]:
import numpy as np

height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]


np_height = np.array(height)
np_weight = np.array(weight)

In [2]:
print(type(np_height))

<class 'numpy.ndarray'>

In [3]:
bmi = np_weight / np_height ** 2

print(bmi)

[23.34925219 27.88755755 28.75558507 25.48723993 23.87257618 25.84368152]

In [4]:
bmi > 23

bmi[bmi > 23]

array([23.34925219, 27.88755755, 28.75558507, 25.48723993, 23.87257618,
       25.84368152])

In [5]:
weight_kg = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

import numpy as np
np_weight_kg = np.array(weight_kg)
np_weight_lbs = np_weight_kg*2.2
print(np_weight_lbs)

[179.63  214.544 209.55  204.556 189.596 194.59 ]

## Pandas Basics

In [6]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [7]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]

print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [17]:
import pandas as pd

cars = pd.read_csv('cars.csv')

print(cars)

   Unnamed: 0 cars_per_cap  country   drives_right  Unnamed: 4
0           0           US      809  United States        True
1           1          AUS      731      Australia       False
2           2          JAP      588          Japan       False
3           3           IN       18          India       False
4           4           RU      200         Russia        True
5           5          MOR       70        Morocco        True
6           6           EG       45          Egypt        True

In [18]:
cars = pd.read_csv('cars.csv', index_col = 0)

(cars['cars_per_cap'])

0     US
1    AUS
2    JAP
3     IN
4     RU
5    MOR
6     EG
Name: cars_per_cap, dtype: object

In [31]:
cars[['cars_per_cap']]

  cars_per_cap
0           US
1          AUS
2          JAP
3           IN
4           RU
5          MOR
6           EG

In [32]:
cars[['cars_per_cap', 'country']]

  cars_per_cap  country
0           US      809
1          AUS      731
2          JAP      588
3           IN       18
4           RU      200
5          MOR       70
6           EG       45

In [21]:
cars[0:4]

  cars_per_cap  country   drives_right  Unnamed: 4
0           US      809  United States        True
1          AUS      731      Australia       False
2          JAP      588          Japan       False
3           IN       18          India       False

In [22]:
cars[4:6]

  cars_per_cap  country drives_right  Unnamed: 4
4           RU      200       Russia        True
5          MOR       70      Morocco        True

In [23]:
cars.iloc[2]

cars_per_cap      JAP
country           588
drives_right    Japan
Unnamed: 4      False
Name: 2, dtype: object

In [38]:
cars.set_index('cars_per_cap',inplace=True)

In [39]:
cars.loc[['AUS', 'EG']]

              country drives_right  Unnamed: 4
cars_per_cap
AUS               731    Australia       False
EG                 45        Egypt        True